{% extends 'base_buscando.html'%}

{% block content %}

<div>
	<input type="radio" id="general" value="Valor General" checked>
		<label for="general">General</label>
	
</div>


<div id="contenedor-principal">
<table>
	<thead>
		<tr>
			<th>Codigo</th><th>Nombre</th><th>Cantidad</th><th>Precio</th>
		</tr>
	</thead>

{{ items }}
{% for item in items %}

<tr>
	<td>{{ item.Codigo }}</td><td>{{ item.Nombre }}</td><td>{{ item.Cantidad }}</td><td>{{ item.Precio }}</td>
</tr>



{% endfor %}
</table>
</div>
{% endblock %}