{% extends 'base_buscando.html'%}

{% block content %}

<div>
	<input type="radio" id="general" value="Valor General" checked>
		<label for="general">General</label>
	
</div>


<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Codigo</th>
				<th>Nombre</th>
				<th>Cantidad</th>
				<th>Precio</th>
			</tr>
		</thead>
		{% for item in items %}
		<tbody>
			<tr>
				<td>{{ item.id }}</td>
				<td>{{ item.Nombre }}</td>
				<td>{{ item.Cantidad }}</td>
				<td>{{ item.Precio }}</td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
</div>
{% endblock %}