{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible">
        <meta name="index" content="width=device-width","initial-scale=1.0">
        <titlw>Busqueda y carrito</title>
        <link rel="StyleSheet" href="{% static '/css/estilos.css' %}">

    </head>
    <body>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/buscador">Buscar Item</a>
                </li>
            </ul>
        </nav>
        <h1>Bienbenido al buscador</h1>
        <form class="form" action='buscando/'>
            {{ form_id }}
            <button>
                Buscar
            </button>
        </form>
        <form class="form" action='buscando'>
            {{ form_barras }}
            <button>
                Buscar
            </button>
        </form>
        <form class="form" action='buscando'>
            {{ form_nombre }}
            <button>
                Buscar
            </button>
        </form>
        
        {% block content %}
        {% endblock %} 


    </body>    

</html>
