<h1>Bienbenido al buscador</h1>
<form action=''>
    {{ form_id }}
    <button>
        Buscar
    </button>
</form>
<form action=''>
    {{ form_barras }}
    <button>
        Buscar
    </button>
</form>
<form action=''>
    {{ form_nombre }}
    <button>
        Buscar
    </button>
</form>
{% for item in item %}

<div>
    <div>
        {{item.id}}
    </div>
    <div>
        {{ item.Nombre }}
    </div>
    <div>
        {{item.Precio}}
    </div>

</div>     
{% endfor %}
{% block content %}
{% endblock %}