{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible">
        <meta name="index" content="width=device-width","initial-scale=1.0">
        <titlw>Busqueda y carrito</title>
        <link rel="StyleSheet" href="{% static '/css/estilos.css' %}">

    </head>
    <body>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/buscador">Buscar Item</a>
                </li>
            </ul>
        </nav>

        
        
        
        {% block content %}
        {% endblock %} 


    </body>    

</html>
