body{
    background-color: #202020;
    color: whitesmoke;
}

form{
    background-color: #4a4a4a;
    padding: 15px;
    margin: 15px;
}

.form form button{
    display: flex;
    padding: 15px;
    justify-content: center;
}

.navbar{
    background-color: #404040;
    padding: 20px 0;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    
}

.navbar ul li a{
    color: whitesmoke;
}

.navbar ul li a:hover{
    color: aqua;
}

div{
    background-color:#4a4a4a;
    padding: 20px;
}

.fila div{
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    
}
