{% extends 'base.html' %}

{% block form_content %}
<h1>Editar Item en carrito</h1>
    <div class="card">
        <div class="card-body">
            <form action='' method="POST" novalidate="">{% csrf_token %}
                {{ form.as_p }}
                <div class="row py-2">
                    <button type="submit" class="btn btn-success btn-block text-white py-2">
                        Editar
                    </button>
                </div>
                
            </form> 
        </div>
    </div>
{% endblock %}