{% extends 'base_carrito.html'%}


{% block buscador_content%}
<h2>Bienvenido al buscador</h2>    
<div class="card">
	<div class="card-body">
		<form action='/carrito/' method="GET" novalidate="">{% csrf_token %}
			<div class="row py-2">    
				<div class="col-sm-7 form-group py-2">
					<input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Codigo" maxlength="50" required></imput>
				</div>
				<div class="col-sm form-group py-2">
					<input type="text" id="txtBarras" name="txtBarras" class="form-control" placeholder="Codigo de barras" maxlength="50" required></imput>
				</div>
			</div>
			<div class="row py-2">
				<div class="col-sm form-group py-2">
					<input type="text" id="txtCodigo" name="txtNombre" class="form-control" placeholder="Palabra o Nombre" maxlength="50" required></imput>
				</div>
			</div>
			<div class="row py-2">
				<button type="submit" class="btn btn-success btn-block text-white py-2">
					Buscar Articulo
				</button>
			</div>
			
		</form> 
	</div>
</div>
<div class="table-responsive py-2">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Codigo</th>
				<th>Nombre</th>
				<th>Stock</th>
				<th>Precio</th>
			</tr>
		</thead>
		
		{% for item in items %}
		<tbody>
			<tr>
				<td>{{ item.id }}</td>
				<td>{{ item.Nombre }}</td>
				<td><a href="/carrito/agregar/{{ item.id }}" class="btn btn-info">Añadir {{ item.Cantidad }}</a></td>
				<td>{{ item.Precio }}</td>
			</tr>
		</tbody>
		{% endfor %}
		
	</table>
</div>

{% endblock %}

{% block carrito_content%}

<h2>Carrito de {{user.username}}</h2>
<h3>Total: {{ total_carrito }}</h3>


<div class="table-responsive py-2">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Opciones</th>
            </tr>
        </thead>
    {% for item_carrito in items_carrito %}
    
    <tr>
        <td>{{ item_carrito.nombre }}</td>
        <td><a href="/carrito/editar/{{ item_carrito.id }}" class="btn btn-info">Editar {{ item_carrito.cantidad }}</a></td>
        <td>{{ item_carrito.precio }}/{{ item_carrito.total_item }}</td>
        <td><a href="/carrito/eliminar/{{ item_carrito.id }}" class="btn btn-danger">Eliminar</a></td>
    </tr>

{% endfor %}

{% endblock %}


