{% extends 'base.html' %}
{% block title %}Buscando{% endblock%}
{% block form_content %}
    <h1>Bienvenido al buscador</h1>    
    <div class="card">
        <div class="card-body">
            <form action='' method="GET" novalidate="">{% csrf_token %}
                <div class="row py-2">    
                    <div class="col-sm-7 form-group py-2">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Codigo" maxlength="50" required></imput>
                    </div>
                    <div class="col-sm form-group py-2">
                        <input type="text" id="txtBarras" name="txtBarras" class="form-control" placeholder="Codigo de barras" maxlength="50" required></imput>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-sm form-group py-2">
                        <input type="text" id="txtCodigo" name="txtNombre" class="form-control" placeholder="Palabra o Nombre" maxlength="50" required></imput>
                    </div>
                </div>
                <div class="row py-2">
                    <button type="submit" class="btn btn-success btn-block text-white py-2">
                        Buscar
                    </button>
                </div>
                
            </form> 
        </div>
    </div>
    
{% endblock %}
{% block base_content %}
    
    

    {% block content %}

    {% endblock content %} 
{% endblock %}

