{% extends 'base.html'%}

{% block title %}Actualizador{% endblock%}

{% block base_content %}

<h1>Bienvenido al Actualizador</h1>

<div class="card">
    <div class="card-body">
        <form action='actualizador/' method="GET" novalidate="">{% csrf_token %}
            <div class="row py-2">    
                <div class="col-sm-4 form-group py-2">
                    <input type="text" id="viejo_si_o_no" name="viejo_si_o_no" class="form-control" placeholder="Item viejo?" maxlength="50" required></imput>
                </div>
                <div class="col-sm-4 form-group py-2">
                    <input type="text" id="tipo_de_planilla" name="tipo_de_planilla" class="form-control" placeholder="Tipo de planilla" maxlength="50" required></imput>
                </div>
                <div class="col-sm-4 form-group py-2">
                    <input type="text" id="fecha" name="fecha" class="form-control" placeholder="Fecha AA-MM-DD" maxlength="50" required></imput>
                </div>
                <div class="col-sm form-group py-2">
                    <input type="file" name="xlsfile" maxlength="50" required> 
                </div>
            </div>

            <div class="row py-2">
                <button type="submit" class="btn btn-success btn-block text-white py-2">
                    Subir
                </button>
            </div>
            
        </form> 
    </div>
</div>
{% block content%}

{% endblock%}
{% endblock %}