{% extends 'base.html' %}
{% block title %}<h1>Buscando</h1>{% endblock%}
{% block base_content %}
    <h1>Bienvenido al buscador</h1>
    <form class="form" action=''>
        {{ form_id }}
        <button>
            Buscar
        </button>
    </form>
    <form class="form" action=''>
        {{ form_barras }}
        <button>
            Buscar
        </button>
    </form>
    <form class="form" action=''>
        {{ form_nombre }}
        <button>
            Buscar
        </button>
    </form>

    {% block content %}

    {% endblock content %} 
{% endblock %}

