{% extends 'base.html' %}

{% block base_content %}
    <h1>Bienbenido al buscador</h1>
    <form class="form" action='buscando/'>
        {{ form_id }}
        <button>
            Buscar
        </button>
    </form>
    <form class="form" action='buscando/'>
        {{ form_barras }}
        <button>
            Buscar
        </button>
    </form>
    <form class="form" action='buscando/'>
        {{ form_nombre }}
        <button>
            Buscar
        </button>
    </form>

    {% block content %}

    {% endblock content %} 
{% endblock %}

